
<div class="chatbox-holder">
    <div  [ngClass]="state ? 'chatbox' : 'chatbox-min'">
      <div class="chatbox-top">
        <!-- <div class="chatbox-avatar">
          <a target="_blank" href="https://www.facebook.com/mfreak"><img src="https://gravatar.com/avatar/2449e413ade8b0c72d0a15d153febdeb?s=512&d=https://codepen.io/assets/avatars/user-avatar-512x512-6e240cf350d2f1cc07c2bed234c3a3bb5f1b237023c204c782622e80d6b212ba.png" /></a> 
        </div> -->
        <div class="chat-partner-name">
          <span class="status online" ></span>
          <span>Support</span>
        </div>
        <div class="chatbox-icons">
          <a (click)="clickEvent()"><i class="fa fa-minus"></i></a>
          <!-- <a href="javascript:void(0);"><i class="fa fa-close"></i></a>        -->
        </div>      
      </div>      
      <div class="chat-messages">
        <iframe src='https://webchat.botframework.com/embed/sb_qna_web_bot?s={{azure_key}}'  style='width: 400px; min-height: 500px;'></iframe>
      </div> 
    </div>
    
  </div>