<div class="row">
   
    <div class="col-md-12">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Predict Win Probability</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="editUserForm">
            
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="country"  value="{{opportunity.country}}" formControlName="country">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Invoice Office Location</label>
                  <input type="text" class="form-control" placeholder="invoiceOfficeLocation" value="{{opportunity.invoiceOfficeLocation}}" formControlName="invoiceOfficeLocation">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>parentCompanyId</label>
                  <input type="number" class="form-control" placeholder="parentCompanyId" value="{{opportunity.parentCompanyId}}" formControlName="parentCompanyId">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>assetTypeId</label>
                  <input type="text" class="form-control" placeholder="assetTypeId" value="{{opportunity.assetTypeId}}" formControlName="assetTypeId">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>serviceType</label>
                  <input type="text" class="form-control" placeholder="serviceType" value="{{opportunity.serviceType}}" formControlName="serviceType">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>subServiceTypeId</label>
                  <input type="text" class="form-control" placeholder="subServiceTypeId" value="{{opportunity.subServiceTypeId}}" formControlName="subServiceTypeId">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>opportunityScopeId</label>
                    <input type="number" class="form-control" placeholder="opportunityScopeId" value="{{opportunity.opportunityScopeId}}" formControlName="opportunityScopeId">
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>salesChannelId</label>
                    <input type="number" class="form-control" placeholder="salesChannelId" value="{{opportunity.salesChannelId}}" formControlName="salesChannelId">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>isInCompetition</label>
                    <input type="number" class="form-control" placeholder="isInCompetition" value="{{opportunity.isInCompetition}}" formControlName="isInCompetition">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>Request Type</label>
                    <input type="number" class="form-control" placeholder="Request Type" value="{{opportunity.RequestTypeId}}" formControlName="RequestTypeId" >
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Status</label>
                    <input type="number" class="form-control" placeholder="statusId" value="{{opportunity.statusId}}" formControlName="statusId">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                      <label for="exampleInputEmail1">IsRFP</label>
                      <input type="number" class="form-control" placeholder="isRFP" value="{{opportunity.isRFP}}" formControlName="isRFP">
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label for="exampleInputEmail1">clientTypeId</label>
                    <input type="text" class="form-control" placeholder="clientTypeId" value="{{opportunity.clientTypeId}}" formControlName="clientTypeId">
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" (click)="predict(editUserForm.value)">Predict</button>
              </div>
            </div>
          </form>
          <div class="row" *ngIf="hasResult">
           <h5>Result</h5>
           <div class="col-md-12">
             <p>{{result}}</p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
